/* Colors */
$bgd-color: #59331D;
$body-background: #082B59;
$color-main: #f2f2f2;
$default-orange: #d98555;

/* Spacing */
$std-space: 1rem;

/* Borders */
$content-border: 10px solid $default-orange;
$button-border: 3px solid $bgd-color;

/* Radius */
$default-radius: 10px;

/* Breakpoints */
$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;

/* Fonts */
$body-font: 'Lato', sans-serif;
$header-font: 'Poppins', sans-serif;

/* Font size */
$header-font-size: 2rem;
$nav-font-size: 1.3rem;

/* Layout */
$max-page-size: 1200px;
$logo-size: 150px;

$main-background: #ffffff url(../images/gulp-bottom-beans.jpg) repeat-x bottom;
$main-background-padding: 300px;